.contact-container img {
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 200px;
    border: 2px solid black;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
    display: flex;
    flex-wrap: wrap;
}

.contactTitle{
    margin-top: 50px;
    margin-right: 330px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-align: right;
}

.contactText{
    margin-top: 90px;
    font-size: 18px;
    text-align: right;
    margin-right: 30px;
}

.contactP {
    float: right;
    margin-left: 20px;
    font-size: 18px;
    text-align: right;
}

.titleWrapper{
    margin-top: 30px;
}

.content{
    display:flex;
    flex-wrap: wrap;
}