
#footerDiv {
    background-color: #621708;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #E8E9EB;
    margin-top: 30px;
    height: 4.5rem;
    align-content: center;
}

.footer-icon {
    padding: 15px;
    /* color: ; */
    background-color: #621708 !important;
    color: #ff2a00
}

.footer-icon:hover {
    color: blue;
}