.project-card img {
    display: inline;
    border-radius: 25px;
    margin-bottom: 10px;
    border: 3px solid black;
    background-color: #621708;
}


.project-card {
    width: 42%;
    margin: auto;
    background-color: #621708;
    border-radius: 25px, 0px, 25px, 0px;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 30px;
}

.project-card p {
    color: rgb(181, 181, 181);
    background-color: #621708;
}

.project-card a {
    color: rgb(255, 255, 255);
    background-color: #621708;
}

.project-card h5 {
    background-color: #621708;
    font-weight: bold, italic;
    color: rgb(77, 126, 179);
    

}